.service-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.title {
    font-family: 'Jost', sans-serif;
    font-size: 48px;
    color: rgba(68, 68, 68, 0.877);
    text-align: center;
    margin: 60px 0 40px;
}
.title::after {
    content: '';
    position: absolute;
    width: 100px;
    background: #006ba0;
    height: 3px;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (max-width: 768px) {
    .service-container {
        grid-template-columns: 1fr;
    }
    .title {
        font-size: 34px;
        margin-bottom: 30px;
    }
    .title::after {
        bottom: -85px;
    }
}