.service-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.title {
    font-family: 'Jost', sans-serif;
    font-size: 48px;
    color: rgba(68, 68, 68, 0.877);
    margin: 60px 0 40px;
    border-left: 5px solid #006ba6;
    padding-left: 10px;
}

@media screen and (max-width: 768px) {
    .service-container {
        grid-template-columns: 1fr;
    }
    .title {
        font-size: 34px;
        margin-bottom: 30px;
    }
    .title::after {
        bottom: -85px;
    }
}