.about-icon {
    width: 100px;
    transition: .3s;
    overflow: hidden;
}
.singleAbout {
    transition: .3s;
}
.singleAbout:hover {
    transform: translateY(-20px)
}

@media only screen and (max-width: 768px) {
    .singleAbout {
        width: 80% !important;
    }
}