.contact-us-form input{
    width: 100%;
    display: block;
    margin: auto;
    margin-bottom: 15px;
    border: none;
    outline: none;
    border-bottom: 3px solid #006ba6;
    border-bottom-left-radius: 5px;
    padding: 7px 0;
}
.contact-us-form textarea{
    width: 100%;
    border: 1px solid #006ba6;
}
.social-link-contact a{
    display: inline-block;
    margin: 30px 20px 0 0;
    text-decoration: none;
    color: rgb(87, 87, 87);
    font-size: 30px;
}
.social-link-contact a:hover{
    color: rgb(0, 0, 0);
}